<%- include('partials/header.ejs') %>
  <h1 id="about">About Us</h1>
  <img src="/images/last page.jpg" class="img-fluid col-9 custom-img"  alt="Man stand with kattana">
  <div class="container py-3 pb-4 mb-5 mt-4">
    <h3 id="centerHeading">Escape reality. Enter the game.</h3>
    <p>Welcome to GamePortal Blog, the hub where gamers of all kinds connect, compete, and
      celebrate the world of gaming.What sets us apart is our passion for the player experience.
      GamePortal is your trusted guide.
    </p>
    <br>
    <h2 class="game-align">Why Use GamePortal</h2>
    <p>At GamePortal, we're not just another gaming website,
      we're your personal gateway to the gaming universe.
      GamePortal brings everything you need into one powerful, easy-to-navigate platform.
    </p>
    <ul>
      <li>Trusted, Gamer-Driven Content:
        Our content is created by real gamers who understand what players actually want no hype,
        no fluff, just useful and reliable information.
      </li>
      <li>Always Up-to-Date:
        We're constantly updating our content to keep you informed about the latest releases,
        game updates, patches, and upcoming trends.
      </li>
      <li>Discover Hidden Gems:
        Beyond the blockbusters, we also highlight underrated indie titles and
        unique experiences that deserve your attention.
      </li>
   </ul>
    <h2 class="game-align">How It's Works</h2>
    <ul>
      <li>Read & Learn:
        Click on any article, guide, or review to read detailed, gamer-focused content. 
        Our team provides real insights, helpful tips, 
        and breakdowns that go beyond the basics, so you always get quality info.
      </li>
      <li>Stay Updated:
        Subscribe to our newsletter or follow us on social media to stay in the loop.
        Get notified about new releases, 
        hidden gems, game patches, and weekly highlights right when they happen.
      </li>
      <li>Level Up Your Game
        Whether you're looking to master a tough boss fight, build the perfect loadout, 
        or discover what to play next,
        GamePortal is your go-to guide for smarter, better gaming.
      </li>
    </ul>
    <p><strong>Every great gamer starts with a single click.
      Step into the world where games come to life.🚀🌍</strong>
    </p>
 </div>
<%- include('partials/footer.ejs') %>